TestClient/Connected Services/Sr2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Poco" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Poco" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="English" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hebrew" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsGoogle" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
</xs:schema>